.header-blender {
    &__image {
        width: 100%;
        text-align: center;
    }
}

.discount {
    padding-bottom: 45px;
    &__price {
        margin: 10px 0px;
    }
    &__quantity {
        margin-bottom: 20px;
        padding: 8px;
        text-align: center;
        background-color: #7DC31F;
    }
    &__quantity-text {
        font-size: 14px;
        font-weight: 600;
        color: var(--accent);
        span {
            padding: 3px 6px;
            border-radius: 5px;
            background-color: var(--yelow);
        }
    }
    &__wrapper {
        text-align: center;
    }
}

.specs {
    margin-bottom: 45px;
    &__image {
        width: 100%;
        text-align: center;
    }
    &__bg {
        background-color: #7BC11E;
    }
    &__list {
        padding: 10px 0px 20px 16px !important;
    }
    &__item {
        position: relative;
        font-size: 14px;
        font-weight: 600;
        color: var(--accent);
        span {
            font-weight: 400;
        }
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: -16px;
            transform: translateY(-50%);
            width: 10px;
            height: 12px;
            background: url("@img/icons/arrow-list.svg") 50% 50%/cover no-repeat;
        }
    }
    &__item:not(:last-child) {
        margin-bottom: 10px;
    }
}

.perks {
    margin-bottom: 45px;
    &__title {
        margin-bottom: 20px;
        text-transform: uppercase;
    }
    &__image {
        width: 100%;
        text-align: center;
    }
}

.specifics-blender {
    &__title {
        margin-bottom: 20px;
        text-transform: uppercase;
    }
    &__image {
        width: 100%;
        text-align: center;
    }
    &__wrapper {
        margin-top: 30px;
        text-align: center;
    }
}