.header-section {
    margin-bottom: 40px;
    &__title {
        padding: 15px;
        font-size: 28px;
        font-weight: 600;
        color: var(--accent);
        text-align: center;
        text-transform: uppercase;
        span {
            color: #39b54a;
        }
    }
    &__box {
        position: relative;
    }
    &__box--discount {
        position: absolute;
        bottom: -90px;
        left: 14px;
        width: 130px;
        height: 130px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        transform: rotate(-42deg);
        background-color: #00d4f7;
        box-shadow: 4px 4px 6px rgb(0 0 0 / 46%);
        p {
            font-size: 26px;
            font-weight: 600;
            color: var(--secondary-color);
        }
    }
    &__price {
        position: absolute;
        bottom: -90px;
        right: 0;
        padding: 10px 20px;
        width: 200px;
        height: 112px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 45px 0 0 45px;
        background-color: #fcfdfa;
        box-shadow: 4px 4px 6px rgb(0 0 0 / 46%);
    }
    &__price--old {
        font-size: 28px;
        font-weight: 600;
        color: var(--accent);
        text-decoration: line-through;
        &::after {
            content: "грн.";
        }
    }
    &__price--new {
        font-size: 40px;
        font-weight: 600;
        color: var(--accent);
        &::after {
            content: "грн.";
        }
    }
}

.timer {
    margin: 120px 0px 30px 0px;
    text-align: center;
    &__title {
        margin-bottom: 12px;
        font-size: 20px;
        font-weight: 500;
        color: var(--accent);
    }
    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 23px;
    }
    &__block {
        position: relative;
    }
    &__block:not(:last-child):after {
        content: ':';
        font-weight: 600;
        font-size: 46px;
        line-height: 46px;
        color: #ffc224;
        position: absolute;
        top: 10px;
        right: -18px;
        text-shadow: 0 2px 0 #d3972b;
    }
    &__count {
        font-size: 24px;
        font-weight: 600;
        width: 70px;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color: var(--secondary-color);
        background-color: #00d4f7;
    }
    &__text {
        margin-top: 8px;
    }
}

.buy-button__wrapper {
    text-align: center;
}
.buy-button {
    display: inline-block;
    padding: 16px 20px;
    font-size: 28px;
    font-weight: 600;
    width: 100%;
    max-width: 370px;
    text-align: center;
    border-radius: 20px;
    text-transform: uppercase;
    color: var(--secondary-color);
    background: #ffc224;
    border-bottom: 3px solid #f7941d;
    transition: opacity .2s ease-in;
    &:hover {
      opacity: 0.7;
    }
}

.video-product {
    padding-bottom: 40px;
    &__video {
        width: 100%;
        vertical-align: top;
    }
}

.features-section {
    &__title {
        margin-bottom: 30px;
        text-align: center;
        text-transform: uppercase;
    }
    &__list {
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
    }
    &__item {
        padding: 20px 0px;
        border-top: 1px solid #ffc224;
        display: flex;
        align-items: center;
        gap: 30px;
        &:last-child {
            border-bottom: 1px solid #ffc224;
        }
    }
    &__image {
        width: 150px;
        height: 150px;
    }
    &__text {
        font-size: 22px;
        text-transform: uppercase;
        color: var(--accent);
    }
}

.specs {
    &__title {
        margin-bottom: 30px;
        text-align: center;
        text-transform: uppercase;
        span {
            color: #39b54a;
        }
    }
}