.order {
    &__title {
        margin-bottom: 40px;
        text-transform: uppercase;
    }
    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }
    &__item {
        text-align: center;
    }
    &__icon {
        width: 80px;
        height: 80px;
    }
    &__item-title {
        margin: 14px 0px 4px 0px;
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
        color: var(--accent);
    }
    &__text {
        margin: 0 auto;
        font-size: 14px;
        max-width: 110px;
        color: var(--accent);
    }
}