.promo {
    display: flex;
    align-items: center;
    &__price--old {
        padding: 12px 8px;
        width: 100%;
        max-width: 156px;
        text-align: center;
    }
    &__price--new {
        padding: 12px 10px;
        width: 100%;
        text-align: center;
    }
    &__price--old p,
    &__price--new p {
        font-size: 14px;
        font-weight: 500;
    }
    &__price--old i {
        font-size: 20px;
        font-weight: 600;
        font-style: normal;
    }
    &__price--new i {
        font-size: 24px;
        font-weight: 600;
        font-style: normal;
    }
    &__price--old {
        color: var(--accent);
        background-color: #FFFFFF;
    }
    &__price--new {
        color: var(--secondary-color);
        background-color: #B20000;
    }
    &__price--old i {
        position: relative;
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            height: 2px;
            transform: translate(-50%, -50%);
            background-color: var(--accent);
        }
    }
}
