.swiper-button-prev::after,
.swiper-button-next::after {
    content: '' !important;
}

.swiper-button-prev {
    left: 0 !important;
}

.swiper-button-next {
    right: 0 !important;
}

.swiper-button-prev,
.swiper-button-next {
    width: 32px !important;
    height: 32px !important;
}

.swiper-prev img {
    transform: rotate(180deg);
}