//Container
$containerWidth: 1224;
$containerPadding: 15;

//Colors
:root {
    --accent: #000000;
    --secondary-color: #FFFFFF;
    --third-color: #1cf01c;
    --text-color: #333333;
    --gold: #e6c822;

    --bg: #FFFFFF;
    --bg-dark: #141414;

    --burger-icon: #000000;
    --burger-open: #FFFFFF;

    --btn-color: #FFFFFF;
    --bg-btn: #000000;
}